<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.re.mapper.StuMapper" >
    <insert id="saveData" parameterType="com.re.bean.Stu">
        insert into stu (
         name, sex, age, classid, score
        )
        values
        <foreach collection="list" item="stu" index="index" separator=",">
            (
            #{stu.name},
            #{stu.sex},
            #{stu.age},
            #{stu.classid},
            #{stu.score}
            )
        </foreach>
    </insert>
</mapper>